#careers#section5
	.container
		.row
			.col-xs-10.col-centered
				%h1 Careers
				%h3 We'd love you to join our team!
				#contact_left
					%p At Freedom Heating and Cooling we're always looking for talented, educated, experienced, and passionate people to join our team.
					%p We invite you to contact us, tell us a little about yourself, your experiences, education, and directional drive. Come and share with us your knowledge, while learning from some of the most talented professionals this industry has to offer. We look forward to welcoming you expanding our Freedom team with new diverse talent.
					%p Please send your resume to:
					%a{:href => "mailto:freedomfp2006@sbcglobal.net", :target => "_top"} freedomfp2006@sbcglobal.net

#careersTransition
	.container
		.row
			%p.col-sm-12