#discounts#section4
	.container
		.row
			.col-xs-10.col-centered
				%h1 Discounts
				

	.container
		.row
			.col-sm-12.col-centered
				.col-sm-6
					.coupon
						%h2 Save $35
						%p Any Repair Over $200
							
					.coupon
						%h2 $250 OFF

						%p Any New Installation Package
					.coupon
						%h2 10% 0FF
						%p Seniors
				
				.col-sm-6
					.coupon
						%h2 10% 0FF
						%p Churches
					.coupon
						%h2 10% OFF!
						%p Fireman and Police Officer Discount


							
#discountsTransition
	.container
		.row
			%p.col-sm-12