<div id="footer">
	<div id="content">
		<span id="marine">
			<img id="us_flag" src="/assets/flag.jpg">
			<p>Support Troops, Always! </p>
		</span>

		<span id="connect">
			<div id="years">
				<img src="/assets/18logo.png">
			</div>
			<p>"Big enough to get the job done, <br>yet small enough to care."</p>
			<div id="social">
				<!-- <a href="http://www.twitter.com" target="_blank"> -->
				<div id="twitter"></div>
				<!-- </a> -->
				<!-- <a href="http://www.facebook.com" target="_blank"> -->
				<div id="linkedin"></div>
				<!-- </a> -->
				<!-- <a href="http://www.linkedin.com" target="_blank"> -->
				<div id="facebook"></div>
				<!-- </a> -->
			</div>
		</span>


	</div>
</div>