#section1
	.container
		.row.col-sm-12.col-centered
			%h1 Heating / Cooling
			%p Freedom Heating and Cooling offers the most experienced furnace, boiler and air conditioning services and repair in the Chicagoland area.
			%p With over 30 years of experience, we have provided service and maintenace of all makes and models. No matter the complexity of the job, our knowledgeable and friendly technicians got you covered.
		.row
			.col-sm-6
				%h3 Heating Services:
				%ul
					%li 
						%i.fa.fa-check 24 Hour Emergency Service
					%li 
						%i.fa.fa-check Residential and Commercial HVAC Systems
					%li 
						%i.fa.fa-check Furnace Installation and repair
					%li 
						%i.fa.fa-check Boiler installation and repair
					%li 
						%i.fa.fa-check Ductwork
			.col-sm-6
				%h3 Cooling Services:
				%ul
					%li 
						%i.fa.fa-check 24 Hour Emergency Service
					%li 
						%i.fa.fa-check Residential and Commercial HVAC Systems
					%li 
						%i.fa.fa-check Air Conditioner Repair All Makes and Models
					%li 
						%i.fa.fa-check Air Conditioning Installation and Tune Ups
					%li 
						%i.fa.fa-check Ductwork
						

		.row
			%h1 Repair Services
			.col-sm-6	
				%h3 Heater Repair Maintenance
				%p Heater furnace repair in the Chicago area is a top priority for your home or business. We offer quick response, emergency heating air conditioning repair for weekends, evenings, holidays. We're ready to serve you 24/7, to insure your comfort and safety. We offer our heating furnace repairs in Melrose Park, Franklin Park, Chicago and all surrounding metro areas.
			.col-sm-6
				%h3 Air Conditioner Repair Maintenance
				%p During the hot Chicago summers, keeping your air conditioner running in good shape is a must for your home or business. Whether you're in Chicago, Melrose Park, Norridge or any of Chicago's northwest and west suburbs, we promise a fast response to all your AC repair, service installation needs.
				

		.embed-responsive.embed-responsive-16by9
			%iframe.embed-responsive-item{:src => "https://player.vimeo.com/video/259807299"}
				

#heatingAndCoolingTransition
	.container
		.row
			%p.col-sm-12