<div id="about_wrapper">
	<div id="container">
		<div id="info">
			<h1>About Us</h1>
		
				

			
				
				<div id="long">
					<h3>Who We Are</h3>
				<p>
					Established in 1997, Complete Custom Services (CCS) is a detailed oriented, highly motivated, women owned green contractor offering clients preconstruction, general contracting, construction management and design build services.
				</p>
				<p>
					As one of the top five locally-owned general contractors, CCS has a proven track record of client satisfaction, construction excellence and efficient project delivery, including completion of work in such prestigious facilities as Northwestern University's Feinberg School of Medicine; Feinberg/Galter Pavilion; Prentice Women’s Hospital, The Stone Institute of Psychiatry and The Rehabilitation Institute of Chicago.
				</p>
				<p>
					CCS has been recognized with more than 15 construction awards and has placed honor, commitment and customer satisfaction to community among its core values throughout its 18 years in business.
				</p>	
				<h3>Our Approach</h3>
				<p>
					Complete Custom Services (CCS) believes the difference between a good project and a great one is in its execution. To provide clients with superior, value-added construction management services CCS employs a proactive project management approach coupled with a comprehensive set of core capabilities. From preconstruction and design-build services to safety and quality management, CCS’s capabilities surpass industry standards.  
				</p>


				<div id="values">
				<h3>Core Values</h3>
				<ol>
					<li>Honor</li>
					<li>Commitment</li>
					<li>Customer Satisfaction</li>
				</ol>
				</div>

				<div class="clear"></div>
					<h3>Health and Safety</h3>
					<p>Environmental Health and Safety is an integral part of risk management at CCS. We at CCS continue to demonstrate that the more aligned our local business units, subcontractors and partners are with our safety ideal of loss avoidance, the safer and more successful the project outcome.</p>

					<h3>Structure</h3>
					<p>At CCS, we continually evaluate our operations and controls and strive to make our organization the best in the industry. The Safety Organization is structured to operate under one umbrella providing a strategic link and support function between Corporate Risk Management and  CCS’s local business units to assure that the risk management safety priorities are providing impact through an engaged and vetted  approach.</p>

					<h3>Standards, Policies and Guidelines</h3>
					<p>CCS strives to continually improve and identify risk while creating and enforcing the programs to reduce that risk whether through a best practice, new guideline, or policy. This results in a successful track record of bridging the company’s safety standards, with the reality of on-site project operations further supporting and driving the message to all levels of field and project staff.</p>

					<p>CCS’s support and commitment to safety continues to offer progressive and innovative program solutions. We are proud to support our clients and welcome integrating any standards, policies and guidelines  in to our business practice. </p>

				
				</div>
				
		</div>
	</div>
</div>