#air_wrapper
  #container
    #info
      %h1 Air Conditioning
      %p
        Freedom Heating  Cooling offers the most experienced air conditioning installation  repair services in the Chicagoland area.
        %br
          %br
            With over 30 years of experience, we have provided repair and maintenance of all makes and models.  From complex installations to routine maintenance, we have the tools to help you.
          %h3 Our Cooling Services:
          %ul
            %li 24 Hour Emergency Service
            %li Residential  Commercial HVAC Systems
            %li Air Conditioner Repair &#x2013; All Makes  Models
            %li Air Conditioning Installation
            %li Air Conditioner Tune Ups
            %li Ductwork
          #air_conditioner
          .clear
          %p We are an authorized Carrier, Bryant, Rheem and Lennox dealer, offering warranties on all of our HVAC products.
