<div id="air_wrapper">
	<div id="container">
		<div id="info">
			<h1>Air Conditioning</h1>
			<p>Freedom Heating & Cooling offers the most experienced air conditioning installation & repair services in the Chicagoland area.<br><br>
			With over 30 years of experience, we have provided repair and maintenance of all makes and models.  From complex installations to routine maintenance, we have the tools to help you.</p>

			<h3>Our Cooling Services:</h3>
			<ul>
				<li>24 Hour Emergency Service</li>
				<li>Residential & Commercial HVAC Systems</li>
				<li>Air Conditioner Repair – All Makes & Models</li>
				<li>Air Conditioning Installation</li>
				<li>Air Conditioner Tune Ups</li>
				<li>Ductwork</li>
			</ul>

			<div id="air_conditioner"></div>
			<div class="clear"></div>
			<p>We are an authorized Carrier, Bryant, Rheem and Lennox dealer, offering warranties on all of our HVAC products.</p>

		</div>	
	</div>
</div>