<div id="discounts_wrapper">
	<div id="container">
		<div id="info">
			<h1>Discounts</h1>

      <div id="coupon_left">
				<div class="coupon" id="repair_coupon">
        	<h2>Save $35</h2>
        	<p>Any Repair <br>Over $200</p>
      	</div>
      
      	<div class="coupon" id="package_coupon">
          <h2>$250 OFF</h2>
          <p>Any New <br> Installation Package</p>
      	</div>

      <div class="coupon" id="senior_coupon">
          <h2>10% 0FF</h2>
          <p>Seniors</p>
        </div>

        <div class="coupon" id="church_coupon">
          <h2>10% 0FF</h2>
          <p>Churches</p>
        </div>

        <div class="coupon" id="duty_coupon">
          <h2>10% OFF!</h2>
          <p>Fireman and <br> Police Officer Discount</p>
        </div>
     </div>
        
      <div class="clear"></div>
		</div>
	</div>
</div>