#discounts_wrapper
  #container
    #info
      %h1 Discounts
      #coupon_left
        #repair_coupon.coupon
          %h2 Save $35
          %p
            Any Repair
            = succeed "Over" do
              %br/
        #package_coupon.coupon
          %h2 $250 OFF
          %p
            Any New
            %br/
            Installation Package
        #senior_coupon.coupon
          %h2 10% 0FF
          %p Seniors
        #church_coupon.coupon
          %h2 10% 0FF
          %p Churches
        #duty_coupon.coupon
          %h2 10% OFF!
          %p
            Fireman and
            %br/
            Police Officer Discount
      .clear
