<div id="discounts_wrapper">
	<div id="container">
		<div id="info">
			<h1>Discounts</h1>

				<div class="coupon">
        	<h2>Save $35</h2>
        	<p>Any Repair <br>Over $200</p>
      	</div>
      
      	<div class="coupon">
        <h2>$250 Off</h2>
        <p>Any New <br> Installation Pagage</p>
      	</div>
     
      <div class="clear"></div>
		</div>
	</div>
</div>