<div id="discounts_wrapper">
	<div id="container">
		<div id="info">
			<h1>Discounts</h1>

      <div id="coupon_left">
				<div class="coupon">
        	<h2>Save $35</h2>
        	<p>Any Repair <br>Over $200</p>
      	</div>
      
      	<div class="coupon">
          <h2>$250 OFF</h2>
          <p>Any New <br> Installation Package</p>
      	</div>
     </div>

        <div class="coupon">
          <h2>$89.00</h2>
          <p>Dryer Vent Cleaning <br> w/ Furnace Diagnostics</p>
        </div>

        <div class="coupon">
          <h2>10% OFF!</h2>
          <p>Fireman and <br> Police Officer Discount</p>
        </div>

      <div class="clear"></div>
		</div>
	</div>
</div>