#heating_wrapper
  #container
    #info
      %h1 Heating
      %p
        Freedom Heating  Cooling offers the most experienced heating, furnace and boiler services in the Chicagoland area.
        %br
          %br
            With over 30 years of experience, we have provided service and repair of all makes and models. No matter the complexity of the job, we&#x2019;ve got you covered.
          %h3 Our Heating Services:
          %ul
            %li 24 Hour Emergency Service
            %li Residential  Commercial HVAC Systems
            %li Heating Repair
            %li Heating Installation
            %li Furnace Installation  repair
            %li Ductwork
            %li Boilers Installation  Repair
          #furnace
          .clear
          %p We are an authorized Carrier, Bryant, Rheem and Lennox dealer, offering warranties on all of our HVAC products.
    / Start of LiveChat (www.livechatinc.com) code
    :javascript
      window.__lc = window.__lc || {};
      window.__lc.license = 8996765;
      (function() {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
      })();
    / End of LiveChat code
