<div id="heating_wrapper">
	<div id="container">
		<div id="info">
			<h1>Heating</h1>
			
			<p>Freedom Heating & Cooling offers the most experienced heating, furnace and boiler services in the Franklin Park, IL area, including Elmwood Park and Northlake. <br><br>  
			With over 20 years of experience, we have provided service and repair of all makes and models. No matter the complexity of the job, we’ve got you covered.</p>

			<h3>Our Heating Services:</h3>
			<ul>
				<li>24 Hour Emergency Service</li>
				<li>Residential & Commercial HVAC Systems</li>
				<li>Heating Repair</li>
				<li>Heating Installation</li>
				<li>Furnace Installation & repair</li>
				<li>Ductwork</li>
				<li>Heat Pumps</li>
				<li>Boilers Installation & Repair</li>
			</ul>

			<p>We are an authorized Carrier, Bryant, Rheem and Lennox dealer, offering warranties on almost all of our HVAC products.</p>
		</div>
	</div>
</div>