<div id="portfolio_wrapper">
	<div id="container">
		<div id="info">
			<h1>Portfolio</h1>
				<div id="our_projects">
				<h3>Our projects include:</h3>
				<ul>
					<li>Building Renovation</li>
					<li>Commercial / Office</li>
					<li>Education</li>
					<li>Healthcare</li>
					<li>Hospitality</li>
					<li>Interiors</li>
					<li>Science & Technology</li>
					<li>Sustainable</li>
				</ul>
			</div>

			<div id="notable_projects">
				<h2>Notable Projects</h2>

					<h3 class="label">NWM Prentice Linear Accelerator</h3>
					<a href="/assets/portfolio/underground1.jpg" rel="lightbox[group1]">
						 <img src="/assets/portfolio/underground1-prev.png" />
					</a>

					<a href="/assets/portfolio/underground2.jpg" rel="lightbox[group1]">
						 <img src="/assets/portfolio/underground2-prev.png" />
					</a>

					<a href="/assets/portfolio/machine3.jpg" rel="lightbox[group1]">
						 <img src="/assets/portfolio/machine3-prev.png" />
					</a>

					<a href="/assets/portfolio/machine2.jpg" rel="lightbox[group1]">
						 <img src="/assets/portfolio/machine2-prev.png" />
					</a>

					<a href="/assets/portfolio/windowView.jpg" rel="lightbox[group1]">
						 <img src="/assets/portfolio/windowView-prev.png" />
					</a>
					
<br>
					<h3 class="label">NWM Nurses Station</h3>
					<a href="/assets/portfolio/nurseStation1.jpg" rel="lightbox[group2]">
						 <img src="/assets/portfolio/nurseStation1-prev.png" />
					</a>

					<a href="/assets/portfolio/nurseStation2.jpg" rel="lightbox[group2]">
						 <img src="/assets/portfolio/nurseStation2-prev.png" />
					</a>

					<a href="/assets/portfolio/nurseStation3.jpg" rel="lightbox[group2]">
						 <img src="/assets/portfolio/nurseStation3-prev.png" />
					</a>
					
			</div>
	</div>
		<div id="nw_med"></div>
		<div class="clear"></div>
	</div>
</div>