<div id="services_wrapper">
	<div id="container">
		<div id="info">
			<h1>Services</h1>

			<div id="service_paragraph">
				<p>
				CCS works closely with the owners and developers of its commercial construction projects to maximize every construction dollar and minimize operational expenses.
				</p>

				<p>
				We work collaboratively with designers to deliver the project on budget. Throughout the process we implement LEAN practices to eliminate waste from schedules and give our owners confidence that we will deliver the project on time.
				</p>
			</div>
			
			<div id="what_we_do">
				<h3>What We Do</h3>
				<ol>
					<li>General Construction</li>
					<li>Project Management</li>
					<li>Disaster Recovery and Property Restoration</li>
					<li>Leed Consulting</li>
					<li>Interm Life Safety Measures</li>
					<li>Infection Control</li>
					<li>Statement of Conditions</li>
					<li>Mold Remediation</li>
					<li>Firestopping</li>
				</ol>
			</div>
			
			<div class="clear"></div>

			<div id="affiliations">	
			<h3>Affiliations</h3> 
				<p>
					Complete Custom Services is a women owned business certified FBE Female Business Enterprise under the business enterprise program for minorities, females and persons with disabilities.
				</p>
				<p>
					Complete Custom Services is a member of the American Society for Healthcare Engineering (ASHE), Healthcare Engineers Society of Northern Illinois (HESNI), The US Green Building Counsel USGBC-Illinois Chapter, Members of the National Fire Protection Agencies Healthcare Section and are certified in the Application of AEGIS Microbial Shield.
				</p>
				</div>
		
		<div id="aff_imgs">
			<a href="http://www.aegiscanada.ca" target="_blank">
				<div id="aegis" class="aff"></div>
			</a>

			<a href="http://www.ashe.org" target="_blank">
				<div id="ashe" class="aff"></div>
			</a>

			<a href="http://www.hesni.org" target="_blank">
				<div id="hesni" class="aff"></div>
			</a>

			<a href="http://www.usgbc-illinois.org" target="_blank">
				<div id="usgbc" class="aff"></div>
			</a>

			<a href="http://www.wbe-il.com/wbeil.aspx" target="_blank">
				<div id="wbe" class="aff"></div>
			</a>
			
			<a href="http://www.nfpa.org/99" target="_blank">
				<div id="nfpa" class="aff"></div>
			</a>

			<a href="http://www2.illinois.gov/cms/business/sell2/bep/Pages/Default.aspx#tabitem1-- " target="_blank">
				<div id="cms" class="aff"></div>
			</a>
		</div>


		</div>
	</div>
</div>