<div id="team_wrapper">
	<div id="container">
		<div id="info">
		<h1>Our Team</h1>
			<div id="contacts">	
				<h3>Contacts</h3>

				<ul class="contact_left">
					<h4>Jaqueline Ippolito-Cianfaglione</h4>	
					</li>President and Chief Executive Officer </li>
					<li><a href="mailto:jackie@completecustom.net" target="_top">
								jackie@completecustom.net
							</a></li>
					<li>847-816-0655</li>
					<li>Fax 847-816-9252</li>
				</ul>

				<ul class="contact_left">
					<h4>Raffaelo Cianfaglione</h4>
					<li>Chief Operating Officer</li>
					<li><a href="mailto:raff@completecustom.net" target="_top">
								raff@completecustom.net 
							</a></li>
					<li>847-816-0655 </li>
					<li>Field 847-668-9252</li>
					<li>Fax 847-816-9252</li>
				</ul>

				<ul class="contact_left" id="nudge">
					<h4>Heather McGuire</h4>
					<li>Office Director</li>
					<li><a href="mailto:heather@completecustom.net" target="_top">
								heather@completecustom.net
							</a></li>
					<li>847-816-0655 </li>
					<li>Fax 847-816-9252</li>
				</ul>

				<ul class="contact_left">
					<h4>Rick Westerhoff</h4>
					<li>Project Manager </li>
					<li><a href="mailto:rick@completecustom.net" target="_top">
								rick@complete custom.net
							</a></li>
					<li>Main 847-816-0655</li>
					<li>Field Office 312-926-4640</li>
					<li>Cell 312-286-6619</li>
				</ul>
				
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>