<div id="testimonials_wrapper">
	<div id="container">
		<div id="info">
		<h1>Testimonials</h1>
			<h3>See what others are saying about Freedom Heating & Cooling</h3>

			<div class="quote">				
				<h4>Patty K. (River Grove, IL)</h4>
				<p>"Freedom Heating & Cooling was recommended to me by my good friend Patty. I truly recommend this company to anyone who wants to save money and is looking for the best completed work out there. I called them on Monday for pricing on a new furnace and I was so pleased that by Thursday I had my new furnace in place  and saved about $1500 bucks. These guys really know what they are doing!!!"
				</p>
			</div>

			<div class="quote">
				<h4>Mary and Tom P. (Franklin Park, IL)</h4>
				<p>
				"These guys really know what they are doing!!
				<br>
				The price we got for a new unit was great compare to other places. The service was done the correct way and the fast way. My husband and I are very pleased. We saved over $900 and with that money we can now go to the boat and gamble a little. I hope our kids don’t read this."
				</p>
			</div>

			<div class="quote">
				<h4>Connie P. (Palatine, IL)</h4>
				<p>
				"I got the best service and price on my ac unit and furnace unit. Other companies I have called were way too overpriced. I’m very satisfied with the work they’ve done but most importantly i’m very happy with the price.
				<br><br>
				Great company and I 100% recommend this place."
				</p>
			</div>

			<div class="quote">				
				<h4>Michael J. (Chicago, IL)</h4>
				<p>"I was in a bind and needed someone to come out ASAP to fix my air conditioning. I called three other companies in the area, and no one could fit me in. It was 90 degrees and as humid as it can get in chicago. Pete came out within the hour and fixed my air within a half hour!!! He could have told me I needed a new motor, because I know that the outdoor motor was not running. Instead he oiled the old motor and cleaned my unit and everything was working fine! Honesty is so hard to find these days and Pete is definitly honest in my book!"
				</p>
			</div>

		</div>
	</div>
</div>