<div id="testimonials_wrapper">
	<div id="container">
		<div id="info">
		<h1>Testimonials</h1>
			<h4>See what others in the Franklin Park, Norridge, Melrose Park and Chicago area are saying about Freedom Heating & Cooling</h4>

			<h3>Patty K. (River Grove, IL)</h3>
			<p>Freedom Heating & Cooling was recommended to me by my good friend Patty. I truly recommend this company to anyone who wants to save money and is looking for the best completed work out there. I called them on Monday for pricing on a new furnace and I was so pleased that by Thursday I had my new furnace in place  and saved about $1500 bucks. These guys really know what they are doing !!!
			</p>

		</div>
	</div>
</div>