<div id="warranties_wrapper">
  <div id="container">
		<div id="info">
		  <h1>Warranties</h1>
		  <p>We protect your investment and eliminate any risk on your part with the strongest guarantees in the industry. From equipment, parts and labor to your complete satisfaction...we have you covered.
			</p>

			<div id="badge"></div>

			<p>We agree to accept responsibility for your complete satisfaction with the materials we use and workmanship provided by us and paid for by you. During the first year, if you are dissatisfied with the performance of the equipment, our services, our people or for any reason, we will do whatever it takes to make it right and correct the problem to your satisfaction.
			</p>
		</div>
	</div>
</div>