*{
	margin:0;
}
@font-face{
	font-family: scratch;
	src:url(/assets/pwscratchedfont-webfont.woff);
}
html{
	background: #282828;
	/*font-family: 'Patrick Hand', cursive;*/
	font-family: 'Russo One', sans-serif;
}
h1{
	font-family: scratch;
	font-size: 2em;
	border-bottom: 2px solid #000;
}
h3{
	font-family: scratch;
}
p, li{
	font-family: 'Russo One', sans-serif;
	font-size: 1em;
}
a{
	font-family: 'Russo One', sans-serif;
	text-decoration: none;
}
img{
	border:none;
}
.clear{
	clear:both;
}
/************HEADER*************/
#header{
	width: 1000px;
	height: 198px;
	margin: 0 auto;
	background: #fff ;
}
#header #call{
  float: left;
  margin: 42px 75px;
  text-align: center;
  width: 250px;
}
#header h1{
	border: none;
}
#home_wrapper, #heating_wrapper, #air_wrapper, #repair_wrapper, #testimonials_wrapper{
	width: 1000px;
	margin: 0 auto;
}
/************NAVIGATION*************/
#navigation{
}
#angie{
	background: url(/assets/accredited_logos.png) 0 100px;
	width: 200px;
	height: 100px;
	display: block;
	float: left;
	margin-top: 25px;
}
#home{
	background: url(/assets/freedom_logo.png) no-repeat;
	width: 390px;
	height: 165px;
	display:block;
	float: left;
}
#heating, #air, #repair, #discounts, #testimonials, #warranties, #contact{
	background: #0068b3;
	color:#fff;
	padding:10px 29px;
	text-decoration: none;
	font-size: .8em;
	display: inline-block;
	vertical-align: bottom;
	margin-right:-5px;
	margin-bottom: 0px;
}
#heating:hover, #air:hover, #repair:hover, #discounts:hover, #testimonials:hover, #warranties:hover, #contact:hover{
	text-decoration: underline;
}

/************CONTAINER*************/
#container{
	background: #fff;
	margin: 0 auto;
	width:1000px;
}
/************INDEX/HOME*************/
.slideshow {
  position: relative;
	height: 500px;
	margin: 0px 0 0 0px;
	width: 1000px;
}
.slideshow img{
	margin: 0 auto;
	width: 100%;
	width: 1000px;
}
.slideshow .slides .slide {
  visibility:hidden;
  position:absolute;
  top:0;
}
#home_wrapper #info{
	padding: 25px 45px;
}
#home_wrapper #info p, #services ul{
	margin:15px 0;
}
#logos{
	background: url('logos.jpg');
	display: block;
	height: 100px;
	width: 700px;
	margin: 0 auto;
}
#services{
	width:380px;
}
#services ul{
	list-style-image:url('check.png');
}
#accredited{
	margin-top: 50px;
}
#bbb{
	background: url('accredited_logos.png');
	display: block;
	width: 200px;
	height:115px;
	float: left;
}
#angies{
	background: url('accredited_logos.png') 0 240px;
	display: block;
	width: 200px;
	height:240px;
	float: right;
	 margin-bottom: -90px;
}
#testimonials_home{
	background: url('recommendation.jpg') no-repeat 13px 10px;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	width:400px;
	height: 110px;
	float: left;
	margin-left:70px;
}
/************HEATING*************/
#heating_wrapper #info{
	padding: 25px 45px;
}
/************AIR CONDITIONING*************/
#air_wrapper #info{
	padding: 25px 45px;
}
/************REPAIR*************/
#repair_wrapper #info{
	padding: 25px 45px;
}
/************DISCOUNTS*************/
#discounts_wrapper #info{
	padding: 25px 45px;
}
/************TESTIMONIALS*************/
#testimonials_wrapper #info{
	padding: 25px 45px;
}
/************WARRANTIES*************/
#warranties_wrapper #info{
	padding: 25px 45px;
}
/************CONTACT*************/
#contact_wrapper #info{
	padding: 25px 45px;
}
/************FOOTER*************/
#footer{
	background: #0068b3;
	width:1000px;
	height:80px;
	margin:0 auto;
}
#footer p{
	margin:0 auto;
	color:#fff;
	width:425px;
	padding-top: 35px;
}

@media screen and (device-aspect-ratio: 40/71){
	h1{
		font-size: 72px;
	}
}