*{
	margin:0;
}
html{
	background: #282828;
	font-family: 'Arial';
}
h1{
	font-size: 2em;
	border-bottom: 2px solid #000;
}
h3{
}
p, li{
	font-size: 1em;
}
a{
	text-decoration: none;
}
img{
	border:none;
}
.clear{
	clear:both;
}
/************HEADER*************/
#header{
	width: 1000px;
	height: 198px;
	margin: 0 auto;
	background: #fff ;
}
#header #call{
	float: left;
  margin: 42px 65px;
  text-align: center;
  width: 270px;
}
#header h1{
	border: none;
}
#home_wrapper, #heating_wrapper, #air_wrapper, #repair_wrapper, #testimonials_wrapper{
	width: 1000px;
	margin: 0 auto;
}
/************NAVIGATION*************/
#navigation{
	padding-left: 8px;
	background-image: linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -o-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
}
#angie{
	background: url(/assets/accredited_logos.png) 0 100px;
	width: 200px;
	height: 100px;
	display: block;
	float: left;
	margin-top: 25px;
}
#home{
	background: url(/assets/freedom_logo.png) no-repeat;
	width: 390px;
	height: 165px;
	display:block;
	float: left;
}
#heating, #air, #repair, #discounts, #testimonials, #warranties, #contact{
	background-image: linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -o-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(60,94,127) 0%, rgb(0,125,215) 100%);
	color:#fff;
	padding:9px 29px;
	text-decoration: none;
	font-size: .8em;
	display: inline-block;
	vertical-align: bottom;
	margin-right:-5px;
	margin-bottom: 0px;
}
#heating:hover, #air:hover, #repair:hover, #discounts:hover, #testimonials:hover, #warranties:hover, #contact:hover{
	background-image: linear-gradient(bottom, rgb(0,125,215) 0%, rgb(60,94,127) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,125,215) 0%, rgb(60,94,127) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,125,215) 0%, rgb(60,94,127) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,125,215) 0%, rgb(60,94,127) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,125,215) 0%, rgb(60,94,127) 100%);
}

/************CONTAINER*************/
#container{
	background: #fff;
	margin: 0 auto;
	width:1000px;
}
/************INDEX/HOME*************/
.slideshow {
  position: relative;
	height: 500px;
	margin: 0px 0 0 0px;
	width: 1000px;
}
.slideshow img{
	margin: 0 auto;
	width: 100%;
	width: 1000px;
}
.slideshow .slides .slide {
  visibility:hidden;
  position:absolute;
  top:0;
}
#home_wrapper #info{
	padding: 25px 45px;
}
#home_wrapper #info p, #services ul{
	margin:15px 0;
}
#logos{
	background: url('logos.jpg');
	display: block;
	height: 100px;
	width: 700px;
	margin: 0 auto;
}
#services{
	width:380px;
	float: left;
}
#services ul{
	list-style-image:url('check.png');
}
#services li{
	line-height: 30px;
}
.coupon{
background: #e0f3fa; /* Old browsers */
background: -moz-linear-gradient(top,  #e0f3fa 0%, #d8f0fc 40%, #b8e2f6 60%, #b6dffd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f3fa), color-stop(40%,#d8f0fc), color-stop(60%,#b8e2f6), color-stop(100%,#b6dffd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 40%,#b8e2f6 60%,#b6dffd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 40%,#b8e2f6 60%,#b6dffd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0f3fa 0%,#d8f0fc 40%,#b8e2f6 60%,#b6dffd 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0f3fa 0%,#d8f0fc 40%,#b8e2f6 60%,#b6dffd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */

  border: 3px dashed;
  float: left;
  font-size: 18px;
  margin: 35px 0 0 100px;
  padding: 15px 0;
  text-align: center;
  width: 380px;
}
.coupon h2{
	color:#ba2737;
}#home_wrapper #info .coupon p{
	margin:0;
}
#accredited{
	margin-top: 50px;
}
#bbb{
	background: url('accredited_logos.png');
	display: block;
	width: 200px;
	height:115px;
	float: left;
}
#angies{
	background: url('accredited_logos.png') 0 340px;
	display: block;
	width: 200px;
	height:240px;
	float: right;
	 margin-bottom: -90px;
}
#testimonials_home{
	background: url('recommendation.jpg') no-repeat 13px 10px;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
	width:400px;
	height: 110px;
	float: left;
	margin-left:70px;
}
/************HEATING*************/
#heating_wrapper #info{
	padding: 25px 45px;
}
/************AIR CONDITIONING*************/
#air_wrapper #info{
	padding: 25px 45px;
}
/************REPAIR*************/
#repair_wrapper #info{
	padding: 25px 45px;
}
/************DISCOUNTS*************/
#discounts_wrapper #info{
	padding: 25px 45px;
}
/************TESTIMONIALS*************/
#testimonials_wrapper #info{
	padding: 25px 45px;
}
/************WARRANTIES*************/
#warranties_wrapper #info{
	padding: 25px 45px;
}
/************CONTACT*************/
#contact_wrapper #info{
	padding: 25px 45px;
}
#map{
	background: url(map.jpg);
	width: 1000px;
	height: 378px;
}
#contact_left{
	float: left;
	margin-top: 30px;
}
#contact_left h3{
	border-bottom: 1px solid #000;
	margin-bottom:5px;
}
#contact_left p{
	margin-bottom:20px;
}
#contact_form{
	margin-top: 30px;
	border: 1px solid gray;
	width: 305px;
	float: right;
	background: lightgray;
	padding: 30px;
	border-radius: 10px;
}
.field{
	margin-bottom:20px;
	width: 300px;
}
textarea{
	resize:none;
	width:300px;
	height: 75px;
}
#submit_form_button{
	margin-top:20px;
}
/************FOOTER*************/
#footer{
	background: #0068b3;
	width:1000px;
	height:80px;
	margin:0 auto;
}
#footer p{
	margin:0 auto;
	color:#fff;
	width:425px;
	padding-top: 35px;
}

/*@media screen and (device-aspect-ratio: 40/71){
	h1{
		font-size: 72px;
	}
}*/